@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: #242424;
}

#root {
  width: 100vw;
  height: 100vh;
  min-height: 100vh;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
}

#root canvas {
  display: block;
  width: 100% !important;
  height: 100% !important;
  outline: none;
}
